FUNCTIONAL REQUIREMENTS

- Non registered person
	
	[G1.0]: Any person is able to register to the service by providing his/her credentials and valid payment info.
	[G1.1]: He/she recieves back a password with which he/she is able to access the system.

		[R1.1]: The app is available for any person to download and run on his/her phone
		[R1.2]: From the home page of the app any person can carry out the registration procedure
		[R1.3]: The registration procedure requires a parson's credentials and payment info to be carried out
		[R1.4]: The registration procedure uses the external payment service to verify the validity of the provided payment info
		[R1.5]: At the end of the registration procedure the person whose credentials were used is registered in the system 
		[R1.6]: At the end of the registration procedure the person recieves an e-mail containing a password which he/she can use to access the system
		[R1.7]: At the end of the registration procedure the person can ask the system to send another mail

	Domain assumptions that ensure the desired outcome:

		[D1.0]: The credentials provided by the person at the moment of his/her registration  are always correct, and always belong to the person carrying out the procedure.
		[D1.2]: The validity check for the payment info delegated to the external payment service is always correct.
		[D2]: A person is always able to receive an e-mail sent by the system after a finite number of tries

	NOTE: this goal is interpreted as: providing one's credentials and some valid payment condition is sufficient and necessary to register to the system

	ADDITIONAL GOALS EMERGED THROUGH SCENARIO ANALISYS

	[GA1.0]: Any person registered to the system  is able to log in the application.
	[GA1.1]: Only a person registered to the system is able to log in the application 

		[RA1.1]: The app allows any person to log in by providing a valid e-mail and password
		[RA1.2]: The app does not allow any person who does not provide a valid e-mail and password to log in 

	Domain assumption that ensures the desired outcome:

		[DA1]: Only a registered person is able to provide a valid e-mail and password


	[GA2]: Any person registered to the system is able to retrieve his/her password

		[RA2.1]: From the home page of the app the password retrieval procedure can be initiated by any person
		[RA2.2]: If a person provides a valid e-mail address during the password retrieval procedure the system sends an e-mail to that address containing the associated password

	Domain assumption that ensures the desired outcome:	

		[DA2]: If an password is sent by e-mail to a person's address that password is retrieved by the person
		[D2]: A person is always able to receive an e-mail sent by the system after a finite number of tries

	[GA3]: Any person is able to access the PowerEnJoy website

		[RA3]: Access to the PowerEnJoy's website (a static page) is granted upon request by the systemv(no login required)

	Domain assumption that ensures the desired outcome

		[DA3]: Any person is able to request any webpage (use a browser)

- User
	
	[G2.0]: The user is able to find the location of all available cars within a certain range from their current location.
	[G2.1]: The user is able to find the location of all available cars within a certain range from a specified address.


		[R2.1]: The "Reserve a car" function can be accessed by the user from the home page of the app
		[R2.2]: The "Reserve a car" function allows the user to select a range (distance)
		[R2.3]: The system acquires the user's current position through the GPS coordinates of the user's phone
		[R2.4]: The system tracks all available cars' current position through their GPS coordinates 
		[R2.4.1]: The cars must posses a device which can be tracked via GPS
		[R2.5]: The "Reserve a car" function allows the user to select a starting position for the search, which can be either their current location or a given address
		[R2.6]: The "Reserve a car" function allows the user to request to the system the current position of all available cars' GPS coordinates within the selected range from the selected starting position   
		[R2.7]: The "Reserve a car" function displays to the user the data of the search acquired from the system in a Google provided map

		Domain assumptions that ensure the desired outcome:

		[D3.0]: The GPS coordinates of the cars received by the system always correspond to the actual positions of the cars.
		[D3.1]: The GPS coordinates of a user received by the system always correspond to the actual position of the user.


	[G3.0]: The user is able to pick a car among the available ones and reserve it.

	NOTE: this goal is interpreted as: if there are available cars the user can pick one among them and reserve it, so it does not guarantee anything regarding the availability of the cars

		[R3.1]: The app allows the user to tap on any available car on the map displayed as the result of a search conducted through the "Reserve a car" function
		[R3.2]: When a user taps on a car the app generates a pop-up asking the user if he/she wants to confirm the reservation
		[R3.3]: When the user confirms the app sends a reservation request to the system 
		[R3.4]: When the system recieves a reservation request and the car to be reserved is available the system marks it as reserved by the user's account

	[G3.1]: A reserved car is not available for renting until one hour has passed from the moment a user reserved it.


	[G3.2]: After one hour from its reservation, a car becomes available again
































NON FUNCTIONAL REQUIREMENTS


The car is able to communicate with the system at all times.
//TODO availability of service

FUNCTIONAL REQUIREMENTS
//TODO expand/formalize requirements
System can detect discount conditions.
The car can communicate the exact level of its battery to the system.
In the car the driver can see the position of safe areas and power grid available
(maybe through the app? Place to rcharge + place the phone? )

// possible requirement
The company can remove non-operational cars from the system if necessary.

If a user did not pay for the last ride, cannot reserve a car.
If a user drives a car to battery exhaustion or leaves it outside of a safe area, an extra fee is applied.
A car either parked or dislocated is automatically locked by the system after 1 minute.
If the user has an expired credit card/ identity card, he/she cannot reserve a car.